<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:300,300italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>{{title}}</title>
	</head>

	<body>
		<div id="header">
			<center><h1><font color='white'>{{title}}</font></h1></center>
		</div>	

		<div id="container">
		<em>Posted on {{datetime}}</em>
		<br>
			<div id="body">
				{{block}}
			</div>

		</div>
		<div id="footer">

		</div>
	</body>
</html>